@model EmployeeRegister.Models.EmployeeMaster

@{
    ViewData["Title"] = "Details";
}


<html lang="en">
<head>
    <link href="~/css/Details_DeletePage.css" rel="stylesheet" type="text/css" />

</head>
<body >

@*<h1>Details</h1>

<div>
    <h4>EmployeeMaster</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeFathersName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeFathersName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeDesignation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeDesignation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeBatchNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeBatchNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeAadharNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeAadharNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IMENo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IMENo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model. EmployeeIMEDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model. EmployeeIMEDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BloodGroup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BloodGroup)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCardNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCardNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VtcNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VtcNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeNo)
        </dd>
        <dd>
            <img src="@Url.Content("~")/UploadedImages/@Model.ImageFileName" height="120" width="120" asp-append-version="true" />
        </dd>
        <dd>
            <img src="@Url.Content("~")/UploadedImages/@Model.SignatureFileName" height="120" width="120" asp-append-version="true" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmployeeVtccertificateNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
*@

<div class="container" >
    <div class="main-body">

        <!-- Breadcrumb -->
            <div id="HASH" class="blue-msg">
                <form asp-action="IdCardDetails" asp-route-id="@Model.EmployeeVtccertificateNo">
                    <input type="submit" value="Generate Id Card" class="btn btn-success" />
                </form>
                @*<a asp-action="Delete" asp-route-id="@Model.EmployeeVtccertificateNo">Delete</a>
                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Index", "EmployeeMasters")'">Delete</button>
                <form asp-action="Delete" asp-route-id="@Model.EmployeeVtccertificateNo">
                    <input type="submit" value="Delete" class="btn btn-success" />
                </form>*@

                <a asp-action="Delete" asp-route-id="@Model.EmployeeVtccertificateNo"><input type="button" class="btn btn-danger" value="Delete"></a> 

            </div>

        <!-- /Breadcrumb -->

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                                <object data="data:image/jpg;base64,@Model.ImageFileData" height="120" width="120" asp-append-version="true" type="image/jpeg">
                                    <img src="~/FrontPageImage/no_image_available.png" />
                                </object>
                                <div class="mt-3">
                                <h4>
                                    @Html.DisplayFor(model => model.EmployeeName)
                                </h4>
                                <p class="text-secondary mb-1">
                                    @Html.DisplayFor(model => model.EmployeeDesignation)
                                </p>
                                @*<p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>*@
                                <div>

                                    @*<a asp-action="Edit" asp-route-id="@Model?.EmployeeVtccertificateNo">Edit</a> |
                                    <a asp-action="Index">Back to List</a>*@
                                        <a asp-action="Edit" asp-route-id="@Model.EmployeeVtccertificateNo"><input type="button" class="btn btn-primary" value="Edit"></a> |
                                       <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Index", "EmployeeMasters")'">Back to list</button>


                                </div>
                                @*<form asp-action="Edit" asp-route-id="@Model.EmployeeVtccertificateNo">
                                    <input type="submit" value="Edit" class="btn btn-primary" /> |
                                    </form>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="d-flex flex-column align-items-center text-center">
                            <object data="data:image/jpg;base64,@Model.SignatureData" height="120" width="120" asp-append-version="true" type="image/jpeg"> 
                               <img src="~/FrontPageImage/no_image_available.png" />
                            </object>
                             <div class="mt-3">
                            <h6>
                                    Holder's Signature
                            </h6>
                        </div>
                    </div>
                </div>
                    <div class="card mt-3">
                       
                        <div class="d-flex flex-column align-items-center text-center">
                            <object data="data:image/jpg;base64,@Model.AuthoritySignatureData" height="120" width="120" asp-append-version="true" type="image/jpeg">
                                <img src="~/FrontPageImage/no_image_available.png" />
                            </object>
                            <div class="mt-3">
                                <h6>
                                    Manager's Signature
                                </h6>
                            </div>
                        </div>
                    </div>

            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">
                                    @Html.DisplayNameFor(model => model.EmployeeName)
                                </h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.EmployeeName)
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.EmployeeFathersName)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.EmployeeFathersName)
                            </div>
                        </div>
                        <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">
                                        @Html.DisplayNameFor(model => model.NameOfAgency)
                                    </h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Html.DisplayFor(model => model.NameOfAgency)

                                </div>
                            </div>
                            <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">
                                    @Html.DisplayNameFor(model => model.EmployeeDesignation)
                                </h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.EmployeeDesignation)

                            </div>
                        </div>
                        <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">
                                        @Html.DisplayNameFor(model => model.EmployeeDateOfBirth)
                                    </h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Html.DisplayFor(model => model.EmployeeDateOfBirth)

                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">
                                        @Html.DisplayNameFor(model => model.DoJ)
                                    </h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Html.DisplayFor(model => model.DoJ)

                                </div>
                            </div>
                            <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.MobileNumber)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.MobileNumber)
                            </div>
                        </div>
                        <hr>
                           <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">@Html.DisplayNameFor(model => model.EmergencyMobileNumber)</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Html.DisplayFor(model => model.EmergencyMobileNumber)
                                </div>
                            </div>
                            <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">
                                    @Html.DisplayNameFor(model => model.Address)
                                </h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.Address)

                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">
                                    @Html.DisplayNameFor(model => model.EmployeeAadharNo)
                                </h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.EmployeeAadharNo)

                            </div>
                        </div>
                        <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">
                                        @Html.DisplayNameFor(model => model.FormANo)
                                    </h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Html.DisplayFor(model => model.FormANo)

                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">
                                          Form A
                                          </h6>
                                </div>
                                <div class="col-sm-9 text-secondary">

                                        <button type="button" class="btn btn-primary" data-toggle="modal2" data-target="#myModal2">Display</button>
                             
                                    <div id="myModal2" class="modal fade" role="dialog">
                                        <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                        Form-A
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal2" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">

                                                    <embed id="pdfID" type="text/html" frameborder="0" width="100%" height="400px" src="data:application/pdf;base64,@Model.FormAData" />
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->

                                </div>
                            </div>
                            </div>
                         <hr>
                </div>

                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="d-flex align-items-center mb-3" style="font-weight: bold">IME Details</h5>
                                   <div class="row">
                                      <div class="col-sm-4">
                                         <h6 class="mb-3">
                                         @Html.DisplayNameFor(model => model.IMENo)
                                         </h6>
                                       </div>
                                       <div class="col-sm-8 text-secondary">
                                         @Html.DisplayFor(model => model.IMENo)
                                       </div>
                                    </div>

                                    <div class="row">
                                       <div class="col-sm-4">
                                        <h6 class="mb-3">
                                           @Html.DisplayNameFor(model => model. EmployeeIMEDate)
                                        </h6>
                                       </div>
                                       <div class="col-sm-8 text-secondary">
                                    @Html.DisplayFor(model => model. EmployeeIMEDate)
                                       </div>
                                    </div>


                                                <div class="row">
                                            <div class="col-sm-4">
                                                        <h6 class="mb-3">
                                    @Html.DisplayNameFor(model => model.BloodGroup)
                                                                    </h6>
                                       </div>
                                       <div class="col-sm-8 text-secondary">
                                    @Html.DisplayFor(model => model.BloodGroup)
                                                               </div>
                                    </div>


                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <h6 class="mb-3">
                                        @Html.DisplayNameFor(model => model.IdCardNo)
                                                                     </h6>
                                       </div>
                                       <div class="col-sm-4 text-secondary">
                                        @Html.DisplayFor(model => model.IdCardNo)
                                                               </div>
                                    </div>

                                                                <div class="row">
                                                                    <div class="col-sm-4">
                                                                        <h6 class="mb-3">
                                            @Html.DisplayNameFor(model => model.EmployeeNo)
                                                                        </h6>
                                       </div>
                                       <div class="col-sm-8 text-secondary">
                                            @Html.DisplayFor(model => model.EmployeeNo)
                                                               </div>
                                    </div>


                                                                      <div class="row">
                                      <div class="col-sm-4">
                                         <h6 class="mb-3">
                                        Form-O
                                               </h6>
                                       </div>
                                       <div class="col-sm-8 text-secondary">

                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal1" data-target="#myModal1">Display</button>


                                        <div id="myModal1" class="modal fade" role="dialog">
                                            <div class="modal-dialog modal-xl">
                                                <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">
                                                                Form-O
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal1" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                    <div class="modal-body">
                                                        <embed id="pdfID" type="text/html" frameborder="0" width="100%" height="400px" src="data:application/pdf;base64,@Model.FormOData" />
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->
                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="d-flex align-items-center mb-3" style="font-weight: bold">VTC Details</h5>


                                   <div class="row">
                                      <div class="col-sm-4">
                                         <h6 class="mb-3">
                                    @Html.DisplayNameFor(model => model.IdCardNo)
                                                             </h6>
                                       </div>
                                       <div class="col-sm-8 text-secondary">
                                    @Html.DisplayFor(model => model.IdCardNo)
                                                               </div>
                                    </div>


                                    <div class="row">
                                      <div class="col-sm-4">
                                         <h6 class="mb-3">
                                        @Html.DisplayNameFor(model => model.VtcNo)
                                        </h6>
                                       </div>
                                       <div class="col-sm-8 text-secondary">
                                        @Html.DisplayFor(model => model.VtcNo)
                                           </div>
                                    </div>

                                                                   <div class="row">
                                      <div class="col-sm-4">
                                         <h6 class="mb-3">
                                            @Html.DisplayNameFor(model => model.EmployeeBatchNo)
                                                                    </h6>
                                       </div>
                                       <div class="col-sm-8 text-secondary">
                                            @Html.DisplayFor(model => model.EmployeeBatchNo)
                                                               </div>
                                    </div>


                                                                 <div class="row">
                                      <div class="col-sm-4">
                                         <h6 class="mb-3">
                                                @Html.DisplayNameFor(model => model.EmployeeStartDate)
                                                                    </h6>
                                       </div>
                                       <div class="col-sm-8 text-secondary">
                                                @Html.DisplayFor(model => model.EmployeeStartDate)
                                                              </div>
                                    </div>

                                                                   <div class="row">
                                      <div class="col-sm-4">
                                         <h6 class="mb-3">
                                                    @Html.DisplayNameFor(model => model.EmployeeEndDate)
                                                                       </h6>
                                       </div>
                                       <div class="col-sm-8 text-secondary">
                                                    @Html.DisplayFor(model => model.EmployeeEndDate)
                                                               </div>
                                    </div>


                                                                       <div class="row">
                                      <div class="col-sm-4">
                                         <h6 class="mb-3">
                                           VTC Certificate
                                                                          </h6>
                                       </div>
                                       <div class="col-sm-8 text-secondary">
                                        
                                        <!-- Button trigger modal -->
                                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Display</button>


                                        <div id="myModal" class="modal fade" role="dialog">
                                            <div class="modal-dialog modal-xl">
                                                <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">
                                                               VTC Certificate
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                    <div class="modal-body">
                                                        <embed id="pdfID" type="text/html" frameborder="0" width="100%" height="400px" src="data:application/pdf;base64,@Model.VtcCertificateData" />
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->


                                            </div>
                                        </div>

                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>
</div>

    @section scripts{
      <script type="text/javascript">
            $('button[data-toggle="modal').click(function () {
                $('#myModal').modal('show');
            });
            $('button[data-dismiss="modal').click(function () {
                $('#myModal').modal('hide');
            });
                $('button[data-toggle="modal1').click(function () {
                    $('#myModal1').modal('show');
                });
                $('button[data-dismiss="modal1').click(function () {
                    $('#myModal1').modal('hide');
                });
                $('button[data-toggle="modal2').click(function () {
                    $('#myModal2').modal('show');
                });
                $('button[data-dismiss="modal2').click(function () {
                    $('#myModal2').modal('hide');
                });
          </script>
  
    
   <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    }

</body>
</html>