@page
@model RegisterModel
@*@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="FirstName" aria-required="true" />
                <label asp-for="Input.FirstName"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.LastName" class="form-control" autocomplete="LastName" aria-required="true" />
                <label asp-for="Input.LastName"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select" aria-required="true" >
                <option disabled selected>Select Role</option>
                 </select>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
   @*<div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
   </div>
  </div>*@


<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 300px;
        "></div>
    <!-- Background image -->

    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
        <div class="card-body py-5 px-md-5">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="fw-bold mb-5">Register now</h2>
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" >
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-floating form-outline">
                                    <input asp-for="Input.FirstName" class="form-control" autocomplete="FirstName" aria-required="true" />
                                    <label asp-for="Input.FirstName"></label>
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-floating form-outline">
                                    <input asp-for="Input.LastName" class="form-control" autocomplete="LastName" aria-required="true" />
                                    <label asp-for="Input.LastName"></label>
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <!-- Email input -->
 
                        <div class="form-floating form-outline mb-4">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.Email"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <!-- Password input -->
   
                        <div class="form-floating form-outline mb-4">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Input.Password"></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating form-outline mb-4">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Input.ConfirmPassword"></label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <!-- Select -->
                        @*<div class="form-floating form-outline mb-4">
                            <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select" aria-required="true">
                                <option disabled selected>Select Role</option>
                            </select>
                            <span asp-validation-for="Input.Role" class="text-danger"></span>
                        </div>*@
                        
                        <!-- Submit button -->
                        <button id="registerSubmit" type="submit" class="btn btn-primary btn-block mb-4" >Register</button>

                        @*  <a type="button" class="btn btn-primary" data-toggle="modal2" data-target="#myModal2">Register</a> 

                        <div id="myModal2" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">
                                            Form-A
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal2" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>

                                        </button>
                                    </div>
                                    <div class="modal-body">

                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->

                        </div>
                        *@

                        <!-- Register buttons -->

                    </form>
                </div>
            </div>
        </div>
    </div>

    @*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    Welcome, <span id="username"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>

                </div>
            </div>
        </div>
    </div>*@
</section>

@section Scripts {
    <script type="text/javascript">
       @* $('button[data-toggle="modal2').click(function () {
            $('#myModal2').modal('show');
        });
        $('button[data-dismiss="modal2').click(function () {
            $('#myModal2').modal('hide');
        });

        function success() {

            $('#username').text($('#name').val());

            $('#myModal').modal();

            $('#myModal').on('hidden.bs.modal', function (e) {
                window.location = "/Home";
            });

        }*@

        $("#registerSubmit").click(function(){
            return confirm("Please contact +917004964131 or mail nasimakhtar@ntpc.co.in if you want to gain access to fill data.");
        }

        )

    </script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
}

