@using Microsoft.AspNetCore.Identity
 @model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Application Roles";
}

<link href="~/css/FrontPage.css" rel="stylesheet" type="text/css" />

<div id="HASH">
    <h1>View Roles</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="AppRoles" asp-action="Create"><input type="button" class="btn btn-success" value="Create Role"></a>

</div>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>

            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem=>item.Id)</td>
                <td>@Html.DisplayFor(modelItem=>item.Name)</td>
            </tr>
        }
    </tbody>
</table>


@*@model IEnumerable<EmployeeRegister.Models.ApplicationUser>
@{
    ViewData["Title"] = "User";
}

<div class="text-black-center">
 if(@Model!=null && @Model.Any()){
    <table class="table">
        <thead>
            <tr>
                <th>First Nmae</th>

                <th>LastName</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                </tr>
            }
        </tbody>
    </table>
 }

</div>

*@